certifi==2019.9.11
cffi==1.13.2
Click==7.0
cryptography==2.8
future==0.18.2
itsdangerous==1.1.0
MarkupSafe==1.1.1
pycparser==2.19
python-telegram-bot==12.2.0
requests==2.20.0
six==1.12.0
telegram==0.0.1
tornado==6.0.3
Werkzeug==0.16.0
